@font-face {
  font-family: DM Sans;
  src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: DM Sans Italic;
  src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}

:root {
  --bg-1: #101018;
  --bg-2: #1c1c2a;
  --text: #d0dce7;
  --disabled: #464653;
  --title-gradient-move-factor: 0;
}

body {
  font-family:
    DM Sans,
    sans-serif;
  color: var(--text);
  background-color: var(--bg-1);
  font-size: 1.2rem;
}

.icon-btn {
  display: inline-block;
  height: 1.5rem;
  width: auto;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* background-image: linear-gradient(
    90deg in oklch,
    hsl(0, 70%, 77%),
    hsl(90, 70%, 77%),
    hsl(180, 70%, 77%),
    hsl(270, 70%, 77%),
    hsl(0, 70%, 77%)
  );
  background-size: 200% 200%;
  background-position: 0% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: currentColor; */
  fill: var(--text);
  animation: gradientmove 4s linear infinite;
  animation-play-state: paused;
  transition:
    fill 250ms ease,
    opacity 0.5s ease,
    color 250ms ease,
    -webkit-text-fill-color 250ms ease;
}

@keyframes gradientmove {
  0% {
    /* background-position: 0% 50%; */
    filter: hue-rotate(0deg);
  }
  100% {
    /* background-position: 200% 50%; */
    filter: hue-rotate(360deg);
  }
}

.icon-btn:hover {
  /* color: transparent;
  -webkit-text-fill-color: transparent; */
  animation-play-state: running;
  fill: hsl(0, 70%, 77%);
}

h1 {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

/* TODO: animate on appearance and idle */
h1::after {
  content: '';
  flex: 1;
  height: 0.2rem;
  background-image: linear-gradient(
    90deg in oklch,
    hsl(0, 70%, 77%),
    hsl(90, 70%, 77%),
    hsl(180, 70%, 77%),
    hsl(270, 70%, 77%),
    hsl(0, 70%, 77%)
  );
  background-size: 125% 100%;
  background-position-x: calc(500% * var(--title-gradient-move-factor));
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 0.5s ease !important;
}

.straight-up-not-there {
  display: none !important;
}

a {
  color: currentColor;
  text-decoration: none;
}

@media (max-width: 600px) {
  .body-pad {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 600px) {
  .body-pad {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 1rem;
  border-color: transparent;
  background:
    linear-gradient(var(--bg-1), var(--bg-1)) padding-box,
    linear-gradient(
        90deg in oklch,
        hsl(90, 70%, 77%) 0%,
        hsl(180, 70%, 77%) 11.111%,
        hsl(270, 70%, 77%) 22.222%,
        hsl(0, 70%, 77%) 33.333%,
        var(--disabled) 66.666%
      )
      border-box;
  background-size: 300% 100%;
  background-position-x: 100%;
  transition: background-position-x 0.5s ease;
}

.card:hover {
  background-position-x: 0%;
  transition: background-position-x 0.5s ease;
}

.grid-4 {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

@media (min-width: 500px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1700px) {
  .grid-4 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2200px) {
  .grid-4 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 2800px) {
  .grid-4 {
    grid-template-columns: repeat(7, 1fr);
  }
}

.link {
  text-decoration: underline;
  transition: color 250ms ease;
}

.link:hover {
  color: hsl(204, 69%, 77%);
  transition: color 250ms ease;
}
